<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Конструктор</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<header th:insert="header :: header"></header>

<div class="container mt-5 pt-5">
    Колонки
    <div class="form-group">
        <div class="col-lg-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Приоритет</th>
                    <th>Изменение приоритета</th>
                    <th>Имя Колонки</th>
                    <th>Тип Колонки</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="column : ${customTable.getColumns()}">
                    <td th:text="${column.priority}">priority</td>
                    <td>
                        <a th:href="@{/constructor/columns/{id}/edit/{columnId}/up(id=${customTable.id},columnId=${column.id})}"
                           class="btn btn-primary">Верх</a>
                        <a th:href="@{/constructor/columns/{id}/edit/{columnId}/down(id=${customTable.id},columnId=${column.id})}"
                           class="btn btn-primary">Вниз</a>
                    </td>
                    <td th:text="${column.name}">name</td>
                    <td th:text="${column.EType}">EType</td>
                    <div th:if="${column.EType.toString().equals('ENUM')}">
                        <td><a th:href="@{/constructor/columns/{id}/editEnum/{columnId}/(id=${customTable.id},columnId=${column.id})}">Редактировать</a></td>
                    </div>
                    <div th:if="${!column.EType.toString().equals('ENUM')}">
                        <td>Редактировать</td>
                    </div>
                    <td>
                        <a th:href="@{/constructor/columns/{id}/edit/{columnId}/delete(id=${customTable.id},columnId=${column.id})}"
                               class="btn btn-primary">Удалить
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form name='columnForm' th:object="${typePayload}"
          th:action="@{/constructor/columns/{id}/addColumn(id=${customTable.getId()})}" method="post">
        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Имя колонки</span>
                    <input type="text" th:field="*{name}" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group">
                    <select th:field="*{EType}" class="form-select" id="inputGroupSelect04"
                            aria-label="Example select with button addon">
                        <option th:each="EType : ${ETypes}"
                                th:value="${EType.name()}"
                                th:text="${EType.name()}">Тип
                        </option>
                    </select>
                </div>
                <button class="btn btn-outline-secondary" type="submit">Добавить Колонку</button>
            </div>
        </div>
    </form>
    <a class="btn btn-primary" th:href="@{/constructor/columns/{id}/save(id=${customTable.getId()})}" role="button">Сохранить</a>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>