<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Конструктор</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<header th:insert="header :: header"></header>


<div class="container mt-5 pt-5">
    <table class="table table-bordered">
        <thead>
        <tr class="headings">
            <th th:each="column: ${columns}" class="column-title" th:text="${column.name}"/>

            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <form th:object="${mapPayload}" method="post"
              th:action="@{/tables/{projectTableId}/{objectId}(projectTableId=${projectTable.id},objectId=${objectsData.getId()})}">
            <tr class="even pointer" id="tablerow">
                <div th:each="column: ${columns}">
                    <div th:each="myObject: ${mapPayload.objects.entrySet()}">
                        <div th:if="${myObject.key.id}==${column.id}">
                            <div class="form-group">
                                <div th:if="${myObject.key.type.toString().equals('STRING')}">
                                    <td><input th:field="*{objects[__${myObject.key.id}__]}" type="text"
                                               class="form-control"
                                               placeholder="STRING" aria-label="Username"
                                               aria-describedby="basic-addon1">
                                    </td>
                                </div>
                                <div th:if="${myObject.key.type.toString().equals('DATE')}">
                                    <td><input th:field="*{objects[__${myObject.key.id}__]}" type="date"
                                               class="form-control" placeholder="date" aria-label="Username"
                                               aria-describedby="basic-addon1">
                                    </td>
                                </div>
                                <div th:if="${myObject.key.type.toString().equals('NUMBER')}">
                                    <td><input th:field="*{objects[__${myObject.key.id}__]}" type="number"
                                               class="form-control" placeholder="Number" aria-label="Username"
                                               aria-describedby="basic-addon1">
                                    </td>
                                </div>
                                <div th:if="${myObject.key.type.toString().equals('BOOLEAN')}">
                                    <td><input th:field="*{objects[__${myObject.key.id}__]}" class="form-check-input"
                                               type="checkbox" value="" id="flexCheckDefault">
                                    </td>
                                </div>
                                <div th:if="${myObject.key.type.toString().equals('ENUM')}">
                                    <td><select th:field="*{objects[__${myObject.key.id}__]}"
                                                class="form-select"
                                                id="inputGroupSelect04"
                                                aria-label="Example select with button addon">
                                        <option th:each="value : ${myObject.key.enumTypes}"
                                                th:value="${value.value}"
                                                th:text="${value.value}">Тип
                                        </option>
                                    </select>
                                    </td>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    <button class="btn btn-outline-secondary" type="submit">Добавить</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>
