<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Конструктор</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<header th:insert="header :: header"></header>



<div class="container mt-5 pt-5">
    <table class="table table-bordered">
        <thead>
        <tr class="headings">
            <th th:each="column: ${columns}" class="column-title" th:text="${column.name}" />
        </tr>
        </thead>
        <tbody>
        <form th:object="${mapPayload}">
            <tr class="even pointer" id="tablerow">
                <div th:each="object: ${mapPayload.object.entrySet()}">
                    <div th:if="${object.key.toString().equals('STRING')}">
                        <td><input th:field="${object.put(obj.id)}" type="text" class="form-control" placeholder="STRING" aria-label="Username"
                                   aria-describedby="basic-addon1"></td>
                    </div>
                    <div th:if="${obj.type.toString().equals('DATE')}">
                        <td><input type="date" class="form-control" placeholder="date" aria-label="Username"
                                   aria-describedby="basic-addon1"></td>
                    </div>
                    <div th:if="${obj.type.toString().equals('NUMBER')}">
                        <td><input type="number" class="form-control" placeholder="Number" aria-label="Username"
                                   aria-describedby="basic-addon1"></td>
                    </div>
                    <div th:if="${obj.type.toString().equals('BOOLEAN')}">
                        <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                    </div>
                    <div th:if="${obj.type.toString().equals('ENUM')}">
                        <div th:each="enum: ${enumValues}">
                            <div th:if="${enum.key}==${obj.id}">
                                <td><select class="form-select" id="inputGroupSelect04"
                                            aria-label="Example select with button addon">
                                    <option th:each="value : ${enum.value}"
                                            th:value="${value}"
                                            th:text="${value}">Тип
                                    </option>
                                </select>
                                </td>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>
